@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
/* header style */
header h2{
  padding-left: 130px;
}
   
 
   

/* Top section style  */
.top-section{
  display: flex;
  
  
}
.introduce{
width: 40%;
margin-left: 10%;
}
.introduce h1{
  font-size: 50px;
  font-weight: 900;
}
.introduce a{
  background-color: rgb(231, 28, 96);
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 10PX;
  border-radius: 20px;
}
.cammara{
  width: 40%;

  margin-left: 5%;
  margin-right: 5%;
  border: 3px solid rgba(255, 166, 0, 0.294);
  border-radius: 300px;
}
/* Popular Collection style */
.headding{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.collection{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap:20px;
  grid-gap:20px;
  margin-left: 100px;
  margin-right: 100px;
  
}
.collection-info{
  box-shadow: 10px 10px 40px gray ;
  border-radius: 10px;
}
.collection-info img{
  margin-left: 10px;
  margin-top: 5px;
 
}
.collection-detail{
  margin-left: 10px;
}